@use '../utils' as *;

.display {
  font-size: rem(50);
  text-align: right;

  &__content {
    height: 100%;
    width: 100%;
    background-color: var(--darkmo-screen-bg);
    border-radius: rem(12);
    padding: rem(40) rem(30);
  }
}
