@use '../utils' as *;

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: rem(100);

  &__title {
    flex-basis: calc(50% - 1rem);

    @include breakpoint(medium) {
      width: auto;
    }
  }
}
