html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--darkmo-main-bg);
  color: white; // Temp
  font-family: var(--font-spartan);
  margin: 0;
  padding: 0;
}

button {
  font-family: var(--font-spartan);
  border: none;
}
